In [2]:
import warnings
warnings.filterwarnings("ignore")

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [5]:
# Load the data.
# attendance = pd.read_csv('Resources/attendance.csv')
employees = pd.read_csv('Resources/employees.csv')
# holidays = pd.read_csv('Resources/holidays.csv')
# leaves = pd.read_csv('Resources/leaves.csv')
# salaries = pd.read_csv('Resources/salary.csv')

# salary_dict = pd.read_csv('Resources/salary_dictionary.csv')

In [6]:
# Get an overview of the data.
# display(attendance.info(), attendance.head())
display(employees.info(), employees.head())
# display(holidays.info(), holidays.head())
# display(leaves.info(), leaves.head())
# display(salaries.info(), salaries.head())

# display(salary_dict.info(), salary_dict.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997 entries, 0 to 996
Data columns (total 19 columns):
Employee_No            997 non-null int64
Employee_Code          997 non-null int64
Name                   997 non-null object
Title                  997 non-null object
Gender                 997 non-null object
Religion_ID            997 non-null int64
Marital_Status         930 non-null object
Designation_ID         997 non-null int64
Date_Joined            997 non-null object
Date_Resigned          997 non-null object
Status                 997 non-null object
Inactive_Date          997 non-null object
Reporting_emp_1        997 non-null object
Reporting_emp_2        997 non-null object
Employment_Category    997 non-null object
Employment_Type        997 non-null object
Religion               997 non-null object
Designation            997 non-null object
Year_of_Birth          997 non-null object
dtypes: int64(4), object(15)
memory usage: 148.1+ KB

None

,Employee_No,Employee_Code,Name,Title,Gender,Religion_ID,Marital_Status,Designation_ID,Date_Joined,Date_Resigned,Status,Inactive_Date,Reporting_emp_1,Reporting_emp_2,Employment_Category,Employment_Type,Religion,Designation,Year_of_Birth
0,347,6,Myrl Bechtelar MD,Mr,Male,1,Married,24,12/8/1993,\N,Active,\N,\N,\N,Staff,Permanant,Buddhist,Driver,1965
1,348,33,Francis Mraz,Mr,Male,1,Married,24,3/14/1995,\N,Active,\N,\N,\N,Staff,Permanant,Buddhist,Driver,1973
2,349,53,Mr Emmet Blick Jr,Mr,Male,1,Married,23,1/27/1988,6/28/2021,Inactive,6/28/2021,\N,\N,Staff,Permanant,Buddhist,Account Clerk,1974
3,351,77,Mr Nelson Braun PhD,Ms,Female,4,Married,40,10/1/1999,1/31/2022,Inactive,1/31/2022,\N,\N,Staff,Permanant,Catholic,Purchasing Officer,1974
4,352,88,Maximillian Hand,Mr,Male,1,Married,7,1/26/2001,\N,Active,\N,\N,\N,Staff,Permanant,Buddhist,Store Keeper,1980